@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
/*========== Margenes ==========*/
/*========== z index ==========*/
/*=============== BASE ===============*/
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Alata", sans-serif;
  font-size: 300;
  background-color: white;
  color: black;
  transition: 0.5s;
}

h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  color: black;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 4.5rem 0 1rem;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  margin: 1rem 0 0 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  transition: 0.5s;
}

.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__menu {
  visibility: hidden;
}

.nav__link {
  color: white;
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

.nav__items {
  padding-bottom: 1.5rem;
}

.nav__logo {
  width: 40%;
  z-index: 100;
}

.nav__toogle {
  z-index: 100;
}

.show-menu {
  position: absolute;
  top: -16px;
  left: 0;
  padding: 10rem 2.8rem;
  z-index: 10;
  width: 100%;
  min-height: 100vh;
  align-items: initial;
  background-color: black;
  visibility: visible;
}

.home {
  background: url(/images/mobile/image-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-style: initial;
  text-transform: uppercase;
  font-size: 2rem;
  color: white;
  border: 2px white solid;
  line-height: 0.9;
  padding: 1rem 5rem 1rem 1rem;
}

.leader {
  position: relative;
  text-align: center;
}

.leader__title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 0.9;
  margin: 1rem;
}

.leader__desc {
  padding: 0 1rem;
}

.leader__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img {
  width: 100%;
  min-height: 127px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.img:hover {
  opacity: 0.5;
}

.creation__data {
  display: grid;
}

.creation__container {
  gap: 0;
}

.creation__desc {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.8rem;
  text-align: center;
  line-height: 0.9;
  margin: 1rem;
}

.creation__image1 {
  background: url(/images/mobile/image-deep-earth.jpg) no-repeat;
  background-size: cover;
}

.creation__image2 {
  background: url(/images/mobile/image-night-arcade.jpg) no-repeat;
  background-size: cover;
}

.creation__image3 {
  background: url(/images/mobile/image-soccer-team.jpg) no-repeat;
  background-size: cover;
}

.creation__image4 {
  background: url(/images/mobile/image-grid.jpg) no-repeat;
  background-size: cover;
}

.creation__image5 {
  background: url(/images/mobile/image-from-above.jpg) no-repeat;
  background-size: cover;
}

.creation__image6 {
  background: url(/images/mobile/image-pocket-borealis.jpg) no-repeat;
  background-size: cover;
}

.creation__image7 {
  background: url(/images/mobile/image-curiosity.jpg) no-repeat;
  background-size: cover;
}

.creation__image8 {
  background: url(/images/mobile/image-fisheye.jpg) no-repeat;
  background-size: cover;
}

.creation__title {
  color: white;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 4rem 12.9rem 1rem 1rem;
  line-height: 0.9;
}

.creation__title:hover {
  color: black;
}

.creation__btn {
  font-size: 0.75rem;
  text-align: center;
  cursor: pointer;
  letter-spacing: 3px;
  color: black;
  text-transform: uppercase;
  border: 2px black solid;
  padding: 0.5rem 1rem;
  display: inline-block;
  min-width: 130px;
  background-color: transparent;
  margin: 0 auto;
  text-decoration: none;
}

.creation__btn:hover {
  color: white;
  background-color: black;
}

.creation__btn2 {
  display: none;
}

.footer {
  background-color: black;
  text-align: center;
}

.footer__logo {
  width: 40%;
}

.footer__links {
  display: grid;
  row-gap: 1rem;
}

.footer__link {
  font-size: 0.938rem;
  color: white;
}

.footer__copy {
  color: dimgray;
  margin-bottom: 2rem;
}

.footer__social-icon:not(:last-child) {
  margin-right: 5px;
}

@media (min-width: 768px) {
  .home__container {
    padding-right: 20rem;
  }
  .home__title {
    padding: 1rem 5rem 1rem 1rem;
  }
  .leader_container {
    grid-template-columns: repeat(2, 1fr);
  }
  .leader__title {
    text-align: initial;
  }
  .leader__desc {
    text-align: initial;
  }
  .container {
    max-width: 968px;
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .creation__data {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.9rem;
    row-gap: 0;
  }
}

@media (min-width: 1024px) {
  .header {
    margin: 3rem 0 0 0;
  }
  .home__title {
    margin-right: 4rem;
  }
  .container {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
  }
  .nav__menu {
    visibility: visible;
  }
  .nav__toogle {
    display: none;
  }
  .nav__items {
    padding-bottom: 0;
    padding-left: 1rem;
  }
  .nav__list {
    display: flex;
    justify-content: end;
  }
  .nav__link {
    font-size: 0.938rem;
    text-transform: none;
    font-family: "Alata", sans-serif;
    padding-bottom: 5px;
  }
  .nav__link:hover {
    border-bottom: 2px solid white;
  }
  .home {
    background: url(/images/desktop/image-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
  }
  .home__container {
    padding-right: 25rem;
  }
  .home__title {
    font-size: 3rem;
    padding: 1rem 2rem 1rem 1rem;
  }
  .leader__data {
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 120px;
    width: 50%;
    height: 50%;
    padding: 3rem;
    margin: 1rem;
  }
  .leader__center {
    width: 600px;
  }
  .img {
    width: 220px;
    min-height: 380px;
    object-fit: cover;
    cursor: pointer;
    margin-bottom: 1rem;
  }
  .img:hover {
    opacity: 0.5;
  }
  .creation__desc {
    text-align: initial;
    margin-bottom: 2rem;
    margin-left: 0;
  }
  .creation__data {
    grid-template-columns: repeat(4, 1fr);
  }
  .creation__btn {
    display: none;
  }
  .creation__flex {
    display: flex;
    justify-content: space-between;
  }
  .creation__btn2 {
    font-size: 0.75rem;
    cursor: pointer;
    letter-spacing: 3px;
    color: black;
    text-transform: uppercase;
    border: 2px black solid;
    padding: 0.5rem 1rem;
    display: inline-block;
    min-width: 130px;
    background-color: transparent;
    text-decoration: none;
    margin: 1rem 0.9rem;
  }
  .creation__btn2:hover {
    color: white;
    background-color: black;
  }
  .creation__image1 {
    background: url(/images/desktop/image-deep-earth.jpg) no-repeat;
    background-size: cover;
  }
  .creation__image2 {
    background: url(/images/desktop/image-night-arcade.jpg) no-repeat;
    background-size: cover;
  }
  .creation__image3 {
    background: url(/images/desktop/image-soccer-team.jpg) no-repeat;
    background-size: cover;
  }
  .creation__image4 {
    background: url(/images/desktop/image-grid.jpg) no-repeat;
    background-size: cover;
  }
  .creation__image5 {
    background: url(/images/desktop/image-from-above.jpg) no-repeat;
    background-size: cover;
  }
  .creation__image6 {
    background: url(/images/desktop/image-pocket-borealis.jpg) no-repeat;
    background-size: cover;
  }
  .creation__image7 {
    background: url(/images/desktop/image-curiosity.jpg) no-repeat;
    background-size: cover;
  }
  .creation__image8 {
    background: url(/images/desktop/image-fisheye.jpg) no-repeat;
    background-size: cover;
  }
  .creation__title {
    padding: 20rem 6rem 1rem 2rem;
    line-height: 1;
  }
  .footer__container {
    grid-template-columns: max-content 1fr;
    grid-template-rows: auto auto;
    gap: 2rem;
    text-align: left;
  }
  .footer__logo {
    grid-area: 1 / 1 / 2 / 2;
    margin: 0;
    width: 70%;
  }
  .footer__menu {
    grid-area: 2 / 1 / 3 / 2;
  }
  .footer__social {
    display: flex;
    grid-area: 1 / 2 / 2 / 3;
    justify-content: flex-end;
    gap: 1rem;
  }
  .footer__social .footer__social-icon:hover {
    border-bottom: 2px solid white;
  }
  .footer__end {
    grid-area: 2 / 2 / 3 / 3;
    text-align: right;
  }
  .footer__links {
    display: flex;
    gap: 1rem;
  }
  .footer__link {
    padding-bottom: 5px;
  }
  .footer__link:hover {
    border-bottom: 2px solid white;
  }
}
